/**  */

.boton-clear {
  height: 80px;
  font-size: 1.7em;
  display: flex;
  flex: 1;
  background-color: #f900007f;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border: 1px solid rgb(239, 239, 239);
  cursor: pointer;
  border-radius: 45px;
  user-select: none;
  letter-spacing: 0.2em;
}

.boton-clear:hover {
  background-color: #1b1b329f;
}
