/**  */

.boton-contenedor {
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  font-weight: bold;
  font-size: 38px;
  background-color: #1b1b329f;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover {
  background-color: #1b1b3239;
  border: 1px solid #1b1b3204;
}

.operador {
  background-color: #00c24a91;
}

.operador:hover {
  background-color: #f9000095;
}
